extends ../layouts/account.pug
include ../mixins/checkbox.pug

block title
  title Đăng nhập

block main
    .form-account
        h1.inner-title Đăng nhập
        p.inner-desc Vui lòng nhập email và mật khẩu để tiếp tục
        form.inner-form(action="" id="login-form")
            .inner-group
                label.inner-label(for="email") Email 
                input(
                    type="email",
                    name="email",
                    id="email",
                    placeholder="Ví dụ: levana@gmail.com"
                    class="inner-control"
                    )
            .inner-group
                label.inner-label(for="password") Mật khẩu 
                input(
                    type="password",
                    name="password",
                    id="password",
                    class="inner-control"
                    )
            .inner-meta
                .inner-confirm
                    +checkbox-30("rememberPassword", "rememberPassword")
                    label(for="rememberPassword") Nhớ mật khẩu
                a.inner-link(href="forgot-password.html") Quên mật khẩu?
            button.inner-button Đăng nhập
            .inner-more
                span Bạn chưa có tài khoản?
                a(href="register.html") Tạo tài khoản

